{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
    	<div class="col-md-12">
    	Welcome to my very simple example PHP site.
    	<ul class="list-group">
    		<li class="list-group-item">
    			<a href="/games">Games List (Standard HTML Forms)</a>
    		</li>
    		<li class="list-group-item">
    			<a href="/backbone">Games List (Backbone AJAX)</a>
    		</li>
    	</ul>
    	</div>
    </div>
{% endblock %}
