{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
    	<div class="col-md-12">
    	Welcome to my very simple example PHP site.

    	<a href="/games">Games List</a>
    	</div>
    </div>
{% endblock %}
