{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
    	<div class="col-md-12">
    		<h1>CBSi PHP Example App</h1>
    		<p>
    			Welcome to my very simple example PHP site.  
    		</p>
    		<p>
    			So far I've created two simple CRUD implementations, one using standard HTML forms and the other using Backbone.js and AJAX.
    		</p>    	
	    	<div class="list-group">
				<a class="list-group-item" href="/games">Games List (Standard HTML Forms)</a>
				<a class="list-group-item" href="/backbone">Games List (Backbone AJAX)</a>
	    	</div>
	    	<h2>Demo Video</h2>
	    	<div class="row">
	    		<div class="col-md-8 col-md-offset-2">
			    	<video width="100%" controls="">
		                <source src="http://www.willcarle.com/img/portfolio/CBSiDemo.mp4" type="video/mp4">
		                Your browser does not support the video tag.
		            </video>
		        </div>
        	</div>
    	</div>
    </div>
{% endblock %}
